
<%=render "top"%>

<div class="white_box" >
  <% @surveys.each do |survey|%>
    <form action="/survey/submit_process/<%=survey.id%>" method="post">
    <h1><%=survey.title%></h1>
    <hr>
    <div style="border:1px solid black; margin:0 auto; width: 800px; margin-bottom:10px; padding: 5px 5px 5px 5px;"> 
      <p><%=survey.content%></p>
    </div>

    <%survey.paragraphs.each do |paragraph|%>
      <div class="paragraph_box" style="border:none;">
        <h2><%=paragraph.title%></h2>
        <%paragraph.boxes.each do |box|%>
          <%if box.content_type == 3%>
            <img src="/images/<%=box.image_path%>"/><br>
          <%elsif box.content_type == 2%>
            <h3><%=box.question%></h3>
            <textarea class="question_box" name="box_answer_<%=box.id%>"></textarea>
          <%else%>
            <h3><%=box.question%></h3>
            <%box.examples.each do |example|%>
            
              <p class="etc_input">
                <input type="radio" name="example_<%=box.id%>" value="<%=example.id%>">
                <%=example.content%>
                <%if example.example_type==2%>
                  <input type="text" class="etc_input" name="etc_<%=example.id%>">
                <%end%>
              </p>
            <%end%>
          <%end%>

        <%end%>


      </div>

    <%end%>

    <input type="submit" value ="설문 제출">
    </form>
  <%end%>

</div>
