
<%=render "top"%>

<div class="white_box" >
  <form action="/survey/submit_process/<%=@survey.id%>" method="post">
    <div style="border-top:2px solid #356fb8; width:900px; border-bottom:2px solid #356fb8; padding-left:20px; margin-bottom:30px;margin-top:20px;">
      <h1><%=@survey.title%></h1>
    </div>
    <div class="black_box"> 
      <p><%=simple_format(@survey.content)%></p>
    </div>

  <%@survey.paragraphs.each do |paragraph|%>
    <div class="paragraph_box" style="border:none;">
      <div class="paragraph_title">
      <h2><%=paragraph.title%></h2>
      </div>
      <%paragraph.boxes.each do |box|%>
          <%if box.content_type == 3%>
            <img src="/images/<%=box.image_path%>"/><br>
          <%elsif box.content_type == 2%>
            <h3><%=simple_format(box.question)%></h3>
            <textarea class="question_box" name="box_answer_<%=box.id%>"></textarea>
          <%else%>
          <div class="box">
            <h3><%=simple_format(box.question)%></h3>
            <%box.examples.each do |example|%>
              <%if box.content_type != 5%>
                <p class="etc_input">
              <%end%>
                <input <%if box.content_type == 4%> type="checkbox"name="example_<%=example.id%>"<%else%> name="box_<%=box.id%>" type="radio"<%end%>  value="<%=example.id%>" style="margin-left:20px;">
                <%=example.content%>
                <%if example.example_type==2%>
                  <input type="text" class="etc_input" name="etc_<%=example.id%>">
                <%end%>
              <%if box.content_type != 5%>
                </p>
              <%end%>
            <%end%>
        </div>
          <%end%>
      <%end%>


    </div>

  <%end%>
  <div style="text-align:center;">
    <input type="submit" value ="설문 제출">
  </div>
  </form>

</div>
